In [2]:
l = [1,4,7,3,5,3,73]
f = []
f.append(max(l))
l.remove(max(l))
print(f,l)

[73] [1, 4, 7, 3, 5, 3]

In [3]:
import pandas as pd

In [4]:
data = pd.read_csv('lsd_math_score_data.csv')  #this is data frame

In [5]:
print(data)

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score
0                      5     1.17                78.93
1                     15     2.97                58.20
2                     30     3.26                67.47
3                     60     4.69                37.47
4                    120     5.83                45.65
5                    240     6.00                32.92
6                    480     6.41                29.97

In [6]:
data['Avg_Math_Test_Score']

0    78.93
1    58.20
2    67.47
3    37.47
4    45.65
5    32.92
6    29.97
Name: Avg_Math_Test_Score, dtype: float64

In [7]:
data['Avg_Math_Test_Score'][1]

58.2

In [8]:
data['new column'] = 100

In [9]:
data

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score  new column
0                      5     1.17                78.93         100
1                     15     2.97                58.20         100
2                     30     3.26                67.47         100
3                     60     4.69                37.47         100
4                    120     5.83                45.65         100
5                    240     6.00                32.92         100
6                    480     6.41                29.97         100

In [10]:
data['new column'] = data['new column'] + data['Avg_Math_Test_Score']
data

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score  new column
0                      5     1.17                78.93      178.93
1                     15     2.97                58.20      158.20
2                     30     3.26                67.47      167.47
3                     60     4.69                37.47      137.47
4                    120     5.83                45.65      145.65
5                    240     6.00                32.92      132.92
6                    480     6.41                29.97      129.97

In [11]:
type(data)

pandas.core.frame.DataFrame

In [12]:
type(data['new column'])

pandas.core.series.Series

In [13]:
type(data['new column'][0])

numpy.float64

In [14]:
createDataFrame = data[['LSD_ppm','Avg_Math_Test_Score']]

In [15]:
createDataFrame

   LSD_ppm  Avg_Math_Test_Score
0     1.17                78.93
1     2.97                58.20
2     3.26                67.47
3     4.69                37.47
4     5.83                45.65
5     6.00                32.92
6     6.41                29.97

In [16]:
y = data['LSD_ppm'] # this is series.just like array.but only in one dimention
Y = data[['LSD_ppm']] # this is dataframe with one column. most useful rather than series
type(y)

pandas.core.series.Series

In [17]:
type(Y)

pandas.core.frame.DataFrame

In [18]:
y

0    1.17
1    2.97
2    3.26
3    4.69
4    5.83
5    6.00
6    6.41
Name: LSD_ppm, dtype: float64

In [24]:
y.shape

(7,)

In [26]:
Y

   LSD_ppm
0     1.17
1     2.97
2     3.26
3     4.69
4     5.83
5     6.00
6     6.41

In [29]:
import numpy as np

In [35]:
c = np.array([1,2,3,4])

In [38]:
print(c.shape)
print(type(c))
c

(4,)
<class 'numpy.ndarray'>

array([1, 2, 3, 4])

In [40]:
d = np.array([[1,2,3,4],[5,6,7,8]])

In [41]:
print(d.shape)
print(type(d))
d

(2, 4)
<class 'numpy.ndarray'>

array([[1, 2, 3, 4],
       [5, 6, 7, 8]])

In [20]:
del data['new column']

In [21]:
data

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score
0                      5     1.17                78.93
1                     15     2.97                58.20
2                     30     3.26                67.47
3                     60     4.69                37.47
4                    120     5.83                45.65
5                    240     6.00                32.92
6                    480     6.41                29.97

In [22]:
import customModule    #create .py file and can import as a module.All modules are .py fildeges

In [23]:
type(custoMModule)

NameError: name 'custoMModule' is not defined

In [ ]:
type(customModule)

In [ ]:
customModule.answer

In [ ]:
def exampleFunction():
    print('add anything');
    print(5+5);

In [ ]:
exampleFunction()

In [ ]:
def exampleFun(name,age):
    print('name is'+name)
    print('age is'+str(age))

In [ ]:
exampleFun(age=15,name='kavisha')